.span {
  color: var(--color-orangered-200);
}
.input,
.password {
  position: absolute;
  left: 0;
}
.password {
  top: 0;
  display: inline-block;
  width: 97.5px;
}
.input {
  border: 1px solid var(--color-lightgray-200);
  background-color: var(--color-white);
  top: 27px;
  border-radius: var(--br-6xl);
  box-sizing: border-box;
  width: 500px;
  height: 60px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-mini) var(--padding-11xl);
  align-items: center;
  justify-content: space-between;
  opacity: 0.6;
}
.pass {
  position: relative;
  width: 500px;
  height: 87px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-100);
  font-family: var(--font-poppins);
}
