.videoFile16 {
  position: absolute;
  top: 25.5px;
  left: 84.5px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.aDayIn {
  position: absolute;
  top: 39px;
  left: 147px;
  font-weight: 600;
}
.videoFile16Parent {
  position: absolute;
  top: -11px;
  left: -52px;
  width: 286px;
  height: 100px;
}
.p {
  margin: 0;
}
.div,
.moodyTraveller,
.upload {
  position: absolute;
  top: 17px;
  left: 951px;
  font-weight: 600;
}
.moodyTraveller,
.upload {
  top: 28px;
  left: 662px;
}
.moodyTraveller {
  left: 312px;
}
.frameChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-green-200);
  width: 61px;
  height: 36px;
}
.ucheckIcon {
  position: absolute;
  top: 6px;
  left: 19px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  object-fit: cover;
}
.rectangleParent {
  position: relative;
  width: 61px;
  height: 36px;
}
.approved {
  position: relative;
  font-weight: 600;
}
.frameParent {
  position: absolute;
  top: 21px;
  left: 1241px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-6xl);
}
.item {
  align-self: stretch;
  position: relative;
  background-color: var(--color-white);
  height: 77px;
  overflow: hidden;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-inter);
}
