.span {
  color: var(--color-orangered-200);
}
.fullNameContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 98.75px;
}
.input,
.name {
  width: 500px;
  font-family: var(--font-poppins);
}
.input {
  border: 1px solid var(--color-lightgray-200);
  display: flex;
  font-size: var(--font-size-mini);
  background-color: var(--color-white);
  position: absolute;
  top: 29px;
  left: 0;
  border-radius: var(--br-6xl);
  box-sizing: border-box;
  height: 60px;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-mini) var(--padding-2xl) var(--padding-mini)
    var(--padding-11xl);
  align-items: center;
  justify-content: flex-start;
}
.name {
  position: relative;
  height: 89px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-100);
}
