.heading2 {
  position: absolute;
  top: 0;
  left: calc(50% - 151px);
  font-size: var(--font-size-29xl);
  line-height: 44px;
  font-weight: 600;
  text-align: center;
}
.image16Icon {
  position: absolute;
  top: 124px;
  left: 804px;
  width: 458px;
  height: 401px;
  object-fit: cover;
}
.individual20illistrationpngIcon {
  position: relative;
  width: 442px;
  height: 330px;
  object-fit: cover;
  max-width: 470px;
}
.divcontainerwidget1661163226 {
  position: absolute;
  top: 547px;
  left: 22px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-9xl) var(--padding-0) var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
}
.image17Icon {
  position: absolute;
  top: 899px;
  left: 864px;
  width: 398px;
  height: 312px;
  object-fit: cover;
}
.solutionInChemistry,
.uploadYourContent {
  position: relative;
  letter-spacing: -0.04em;
  line-height: 125.5%;
  display: none;
  width: 668px;
}
.uploadYourContent {
  display: inline-block;
  height: 76px;
  flex-shrink: 0;
}
.solution {
  position: absolute;
  top: 1055px;
  left: 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xl);
}
.configuration {
  position: relative;
  font-size: var(--font-size-21xl);
  letter-spacing: -0.04em;
  line-height: 40px;
  font-weight: 600;
}
.configurationManagementCan,
.configureYourAccount {
  position: relative;
  letter-spacing: -0.04em;
  line-height: 132.5%;
  width: 668px;
}
.configureYourAccount {
  display: inline-block;
  height: 120px;
  flex-shrink: 0;
}
.configurationManagementCan {
  display: none;
}
.configuratoin {
  position: absolute;
  top: 613px;
  left: 590px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.getStarted1 {
  position: relative;
  font-size: var(--font-size-21xl);
  letter-spacing: -0.04em;
  line-height: 40px;
  font-weight: 600;
  z-index: 0;
}
.createYourAccount,
.ourWorldIs {
  letter-spacing: -0.04em;
  line-height: 40px;
  width: 668px;
}
.createYourAccount {
  position: relative;
  display: inline-block;
  height: 80px;
  flex-shrink: 0;
  z-index: 1;
}
.ourWorldIs {
  position: absolute;
  margin: 0 !important;
  top: 60px;
  left: 22px;
  display: none;
  z-index: 2;
}
.getStarted {
  position: absolute;
  top: 254px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.howWeWork {
  position: absolute;
  top: 1386px;
  left: calc(50% - 642px);
  width: 1262px;
  height: 1211px;
  display: none;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-darkslategray-400);
  font-family: var(--font-inter);
}
