.copyrightCollabhub {
  position: relative;
  line-height: 24.85px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 161px;
  height: 25px;
  flex-shrink: 0;
}
.copyrightCloudwave {
  display: none;
}
.copyrightCloudwave,
.menuitemTerms {
  position: relative;
  line-height: 24.85px;
}
.footer {
  position: absolute;
  top: 1794px;
  left: 0;
  border-top: 1px solid var(--color-darkslategray-400);
  box-sizing: border-box;
  width: 1440px;
  height: 76px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-2xl) var(--padding-0);
  align-items: center;
  justify-content: center;
  gap: var(--gap-177xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-400);
  font-family: var(--font-inter);
}
