.logo1Icon {
  position: relative;
  width: 301px;
  height: 114px;
  object-fit: cover;
  mix-blend-mode: darken;
  z-index: 0;
}
.contactUs,
.myCreators,
.requests,
.workspace {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.workspace {
  width: 130px;
  height: 32px;
  cursor: pointer;
  z-index: 0;
}
.contactUs,
.myCreators,
.requests {
  width: 135px;
  height: 34px;
  z-index: 1;
}
.contactUs,
.requests {
  width: 94px;
  height: 44px;
  z-index: 2;
}
.contactUs {
  width: 131px;
  height: 40px;
  z-index: 3;
}
.company,
.faqs,
.home,
.pricing,
.services {
  position: absolute;
  margin: 0 !important;
  top: 12px;
  left: 978.07px;
  line-height: 20px;
  display: none;
  z-index: 4;
}
.company,
.faqs,
.home,
.pricing {
  left: 1079.07px;
  z-index: 5;
}
.company,
.faqs,
.home {
  left: 1166.07px;
  z-index: 6;
}
.faqs,
.home {
  left: 1273.07px;
  z-index: 7;
}
.home {
  left: 898.07px;
  z-index: 8;
}
.workspaceParent {
  width: 747.4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
.howItWorks,
.logIn {
  line-height: 20px;
  font-weight: 500;
}
.logIn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 105px;
  height: 28px;
  flex-shrink: 0;
  z-index: 0;
}
.howItWorks {
  position: absolute;
  margin: 0 !important;
  top: 13px;
  left: 15px;
  color: var(--color-darkslategray-400);
  text-align: left;
  display: none;
  z-index: 1;
}
.loginButton {
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-2xs);
  position: relative;
  gap: var(--gap-3xs);
}
.buttons,
.loginButton,
.signUp,
.signupButton {
  align-items: center;
  justify-content: center;
}
.signUp {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: flex;
  width: 86px;
  height: 19px;
  flex-shrink: 0;
  z-index: 0;
}
.buttons,
.signupButton {
  flex-direction: row;
}
.signupButton {
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-200);
  width: 127px;
  height: 42px;
  display: flex;
  padding: var(--padding-6xs) var(--padding-2xs);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-3xs);
}
.buttons {
  width: 311.5px;
  display: none;
  gap: var(--gap-xl);
  z-index: 2;
  text-align: center;
  color: var(--color-black);
}
.iconlybulkcall {
  width: 24px;
  height: 24px;
  object-fit: cover;
  z-index: 3;
}
.cloudwave,
.iconlybulkcall,
.vectorIcon {
  position: relative;
  display: none;
}
.vectorIcon {
  width: 7.79px;
  height: 7.79px;
  object-fit: cover;
}
.cloudwave {
  line-height: 20px;
  font-weight: 600;
}
.cloudwaveLogo1svg {
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 26.82px);
  left: calc(50% - 544.39px);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  z-index: 4;
  font-size: var(--font-size-5xl);
}
.cloudwaveIcon,
.navbarChild {
  position: relative;
  object-fit: cover;
}
.cloudwaveIcon {
  border-radius: var(--br-96xl);
  width: 148px;
  height: 137px;
  display: none;
  z-index: 5;
}
.navbarChild {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  z-index: 6;
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 185px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-mini);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-400);
  font-family: var(--font-inter);
}
